*.parquet
*.tar.gz
*/kaggle.json

__pycache__/
*.py[cod]
*$py.class

.venv/
venv/
env/

*.egg-info/
*.egg
dist/
build/

.env
*.log

.idea/
.vscode/
*.swp
*.swo
*~

.mypy_cache/
.ruff_cache/
.pytest_cache/
